<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Alan Fineberg</title>
		<link type="text/css" rel="stylesheet" href="css/site.css">
	</head>
	<body>
		<h1>Alan Fineberg's Eponymous Website of Maximal Interest</h1>
		<img id="splash" src="images/portrait.jpg" alt="allo">
		<p>Are you there, internet? It's me, Alan.</p>
		<p>Resume is <a href="resume">here</a></p>
		<p>Followed by more text.</p>

		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
			var pageTracker = _gat._getTracker("UA-5708346-3");
			pageTracker._trackPageview();
			} catch(err) {}</script>
		</script>
	</body>
<html>
