<html>

<head>
	<meta name="description" content="Alan Fineberg's resume" />
	<meta name="keywords" content="fineberg, resume" />
	<meta name="author" content="Alan Fineberg" />
	<meta charset="utf-8" />
    <title>Alan Fineberg</title>

    <link type="text/css" href="/css/resume.css" rel="stylesheet" media="screen">
	<link type="text/css" href="/css/print.css" rel="stylesheet" media="print" />
</head>

<body>

    <div id="page-wrap">
    
        <img src="/images/portrait.png" alt="Photo of Alan" id="pic">
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">Alan Fineberg</h1>
        
            <p>
                Email: af at cs dot washington dot edu
            </p>
            <p>
                Blog: <a href="http://alanfineberg.blogspot.com">alanfineberg.blogspot.com</a>
            </p>
            <p>
                Linkedin: <a href="http://www.linkedin.com/in/alanfineberg">linkedin.com/in/alanfineberg</a>
            </p>
        </div>
                
        <dl>
            <dt class="clear">
            
            <dt>Education</dt>
            <dd>
                <h2>University of Washington</h2>
                <strong>Major: </strong>Computer Engineering, Software Specialization<br>
                   <strong>GPA: </strong>3.66 major (3.62 overall)<br>
                   <strong>Dean's List: </strong> 
				 	  <ol class="compact-list dl">
					  	<li>Spring and Autumn 2008</li>
						<li>Winter and Autumn 2007</li>
						<li>Winter and Autumn 2006</li>
						<li>Autumn 2005</li>
					</ol>
					<br>
                   <strong>Coursework:</strong> 
				 	  <ul class="compact-list coursework">
					  	<li>Databases</li>
					  	<li>Networks</li>
					  	<li>Algorithms</li>
					  	<li>Operating Systems</li>
					  	<li>Graphics</li>
					  	<li>Computer Vision</li>
					  	<li>Games Capstone</li>
					  	<li>Human-Computer Interaction</li>
					  	<li>Machine Organization and Assembly Language</li>
					  	<li>Programming Languages</li>
					  	<li>Intro to Formal Models</li>
					  	<li>Data Structures</li>
					  	<li>Tools and Systems for Software Development</li>
					  	<li>Software Engineering</li>
					  	<li>Discrete Structures</li>
					  	<li>Statistics for Computer Science</li>
					  	<li>Game Theoretic Data</li>
					  	<li>Matrix Algebra</li>
					  	<li>Differential Equations</li>
					  	<li>Calculus III</li>
					  	<li>Physics III</li>
					  	<li>Statistical Mechanics</li>
					  	<li>Electrical Engineering I</li>
					</ul>
            </dd>
            
            <dt class="clear">
            <dt class="clear">
            
            <dt>Experience</dt>
            <dd>
                <h2>Pocket Gems <span>Software Engineer - San Francisco - March 2011 - Present</span></h2>
                <ul>
                    <li>Built and launched Tap Pet Shop, which rose to #1 grossing app in iOS App Store (<a href="http://itunes.apple.com/us/app/tap-petshop/id425196663?mt=8">app store</a>)
						<ul class="compact-list technologies">
							<li>Objective-C</li>
							<li>OpenGL</li>
						</ul>
					</li>
                    <li>Persistence, graphics/performance, dynamic asset loading, game rules, resource validation, interface,...
						<ul class="compact-list technologies">
							<li>Objective-C</li>
							<li>OpenGL</li>
						</ul>
					</li>
                    <li>Mentored summer intern who shipped a major feature
					</li>
                    <li>Introduced automated tests to shared legacy codebase
					</li>
                </ul>

                <h2>Yelp <span>Software Engineer - San Francisco - June 2009 - March 2011</span></h2>
                <ul>
                    <li>Facebook, OpenTable, and Restaurant.com integration and architecture
						<ul class="compact-list technologies">
							<li>Python</li>
							<li>SQL</li>
							<li>Javascript</li>
						</ul>
					</li>
                    <li>MySQL Performance -- schema changes, caching and metrics research
						<ul class="compact-list technologies">
							<li>MySQL</li>
							<li>memcached</li>
						</ul>
					</li>
                    <li>Internationalization framework and features (<a href="http://yelp.fr">yelp.fr</a>).
						<ul class="compact-list technologies">
							<li>Python</li>
							<li>SQL</li>
							<li>Javascript</li>
						</ul>
					</li>
                    <li>Other user-facing features for the web, iPad, iPhone
					</li>
                </ul>
                
                <h2>Google (Ad Planner)<span>Software Engineer Intern - Seattle - Summer 2008</span></h2>
                <ul>
                    <li>Mocked, prototyped and evaluated several distinct audience visualization features, iterating with UX research.
						<ul class="compact-list technologies">
							<li>Javascript</li>
						</ul>
					</li>
                    <li>Integrated and released interative visualization for Ad Planner
						<ul class="compact-list technologies">
							<li>Java</li>
							<li>Rails</li>
							<li>Bigtable</li>
							<li>JSON</li>
						</ul>
					</li>
                </ul> 

                <h2>Zillow <span>SDET Intern, SDE Intern - January 2007 - March 2008</span></h2>
                <ul>
                    <li>Developed internal tool to manage imported listings feed data.
						<ul class="compact-list technologies">
							<li>Tapestry</li>
							<li>Java</li>
						</ul>
					</li>
                    <li>Drove the creation of a test run creation/reporting website for UI testers
						<ul class="compact-list technologies">
							<li>ASP.NET</li>
							<li>Java</li>
						</ul>
					</li>
                </ul> 

                <h2>University of Washington <span>TA - Spring 2006, Fall 2007, Spring 2009</span></h2>
                <ul>
                    <li>Intro to Java (x2), Intro to Graphics</li>
                </ul> 
            </dd>
            
            <dt class="clear">

            <dt>Noteworthy school projects</dt>
			<dd><strong>Robot Rock</strong> <em>Spring 2009.</em> A user conducts jamming musician entities to compose music in real-time. 
				<ul class="compact-list technologies">
					<li>Python</li>
					<li>Qt</li>
					<li>FluidSynth</li>
				</ul>
			</dd>
			<dd><strong>A Snowball's Chance</strong> <em>Spring 2008.</em>  Half Life 2 mod with Katamari-style gameplay. Guide an angelic snowball through hell, pickup its denizens to grow larger, try not to melt!
				<ul class="compact-list technologies">
					<li>C++</li>
					<li>Source Engine</li>
				</ul>
			</dd>
			<dd><strong>Panorama Stitcher</strong> <em>Winter 2008.</em> Use feature detection to pair images, radially transform them and merge into a panorama.
				<ul class="compact-list technologies">
					<li>C++</li>
					<li>FLTK</li>
				</ul>
			</dd>

            <dt class="clear">
            <dt class="clear">
					
            <dt>Technical Summary</dt>
			<dd>Languages:
				<ul class="compact-list technologies">
					<li>Python</li>
					<li>JavaScript</li>
					<li>SQL</li>
					<li>bash</li>
          <li>Objective C</li>
					<li>Java</li>
					<li>C</li>
					<li>C++</li>
				</ul>
			</dd>
			<dd>
				Technologies:
				<ul class="compact-list technologies">
					<li>vim</li>
					<li>git</li>
					<li>linux</li>
					<li>xcode</li>
					<li>svn</li>
					<li>eclipse</li>
					<li>Perforce</li>
				</ul>
			</dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-5708346-3");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>

</html>
