<html>

<head>
	<meta name="description" content="Alan Fineberg's resume" />
	<meta name="keywords" content="fineberg, resume" />
	<meta name="author" content="Alan Fineberg" />
	<meta charset="utf-8" />
    <title>Alan Fineberg</title>

    <link type="text/css" href="/css/resume.css" rel="stylesheet" media="screen">
	<link type="text/css" href="/css/print.css" rel="stylesheet" media="print" />
</head>

<body>

    <div id="page-wrap">
    
        <img src="/images/portrait.png" alt="Photo of Alan" id="pic">
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">Alan Fineberg</h1>
        
            <p>
                Email: af at cs dot washington dot edu
            </p>
            <p>
                Blog: <a href="http://alanfineberg.blogspot.com">alanfineberg.blogspot.com</a>
            </p>
            <p>
                Linkedin: <a href="http://www.linkedin.com/in/alanfineberg">linkedin.com/in/alanfineberg</a>
            </p>
        </div>
                
        <dl>
            <dt class="clear">
            
            <dt>Experience</dt>
            <dd>
                <h2>Square <span>Software Engineer - San Francisco - June 2012 - Present</span></h2>
                <ul>
                    <li>Register iOS: building and improving internal components to provide merchants with a reliable and dependable way to run their business.
					</li>
                    <li>Register iOS: brought continuous integration and unit tests to legacy code base
						<ul class="compact-list technologies">
							<li>Jenkins</li>
							<li>XCTest</li>
						</ul>
					</li>
                    <li>Wallet iOS: Starbucks giftcards, tipping and other features
					</li>
                </ul>
                <h2>Pocket Gems <span>Software Engineer - San Francisco - March 2011 - June 2012</span></h2>
                <ul>
                    <li>Launched top grossing apps "Tap Pet Shop" and "Paradise Cove"
					</li>
                    <li>Persistence, graphics, performance, validation, interface, etc.
						<ul class="compact-list technologies">
							<li>Objective-C</li>
							<li>OpenGL</li>
						</ul>
					</li>
                </ul>

                <h2>Yelp <span>Software Engineer - San Francisco - June 2009 - March 2011</span></h2>
                <ul>
                    <li>Facebook, OpenTable, and Restaurant.com integration
						<ul class="compact-list technologies">
							<li>Python</li>
							<li>SQL</li>
							<li>Javascript</li>
						</ul>
					</li>
                    <li>MySQL Performance -- schema changes, caching and metrics research
						<ul class="compact-list technologies">
							<li>MySQL</li>
							<li>memcached</li>
						</ul>
					</li>
                    <li>Launched first non-english locale (<a href="http://yelp.fr">yelp.fr</a>).
						<ul class="compact-list technologies">
							<li>Python</li>
							<li>SQL</li>
							<li>Javascript</li>
						</ul>
					</li>
                </ul>
                
                <h2>Google (Ad Planner)<span>Software Engineer Intern - Seattle - Summer 2008</span></h2>
                <ul>
                    <li>Researched, prototyped, evaluated and launched audience visualization feature
						<ul class="compact-list technologies">
							<li>Java</li>
							<li>Javascript</li>
							<li>Rails</li>
							<li>Bigtable</li>
						</ul>
					</li>
                </ul> 

                <h2>Zillow <span>SDET Intern, SDE Intern - January 2007 - March 2008</span></h2>
                <ul>
                    <li>Developed internal tool to manage imported listings feed data.
						<ul class="compact-list technologies">
							<li>Tapestry</li>
							<li>Java</li>
						</ul>
					</li>
                    <li>Drove the creation of a test run creation/reporting website for UI testers
						<ul class="compact-list technologies">
							<li>ASP.NET</li>
							<li>Java</li>
						</ul>
					</li>
                </ul> 

                <h2>University of Washington <span>TA - Spring 2006, Fall 2007, Spring 2009</span></h2>
                <ul>
                    <li>Intro to Java (x2), Intro to Graphics</li>
                </ul> 
            </dd>
            <dt class="clear">
            <dt>Languages and Tools</dt>
			<dd>Languages:
				<ul class="compact-list technologies">
					<li>Objective-C and C</li>
					<li>Python</li>
					<li>C++</li>
					<li>bash</li>
					<li>SQL</li>
					<li>JavaScript</li>
				</ul>
			</dd>
			<dd>Tools:
				<ul class="compact-list technologies">
					<li>xcode</li>
					<li>git</li>
					<li>vim</li>
					<li>linux</li>
				</ul>
			</dd>
        </dl>
		<dt class="clear">
		<dt>Education</dt>
		<dd>
			<h2>University of Washington</h2>
			<strong>Major: </strong>Computer Engineering, Software Specialization<br>
			   <strong>GPA: </strong>3.66 major (3.62 overall)<br>
			   <strong>Dean's List: </strong> 
				  <ol class="compact-list dl">
					<li>Spring and Autumn 2008</li>
					<li>Winter and Autumn 2007</li>
					<li>Winter and Autumn 2006</li>
					<li>Autumn 2005</li>
				</ol>
				<br>
			   <strong>Coursework:</strong> 
				  <ul class="compact-list coursework">
					<li>Databases</li>
					<li>Networks</li>
					<li>Algorithms</li>
					<li>Operating Systems</li>
					<li>Graphics</li>
					<li>Computer Vision</li>
					<li>Games Capstone</li>
					<li>HCI</li>
					<li>Machine Organization & Assembly Language</li>
					<li>Programming Languages</li>
					<li>Intro to Formal Models</li>
					<li>Data Structures</li>
					<li>Tools & Systems for Software Development</li>
					<li>Software Engineering</li>
					<li>Discrete Structures</li>
					<li>Statistics for CS</li>
					<li>Game Theoretic Data</li>
					<li>Matrix Algebra</li>
					<li>Differential Equations</li>
					<li>Calculus III</li>
					<li>Physics III</li>
					<li>Statistical Mechanics</li>
					<li>Electrical Engineering I</li>
				</ul>
		</dd>
		<dt class="clear">
		<dt>Noteworthy school projects</dt>
		<dd><strong>Robot Rock</strong> Conduct jamming musician entities to compose music in real-time. 
			<ul class="compact-list technologies">
				<li>Python</li>
				<li>FluidSynth</li>
			</ul>
		</dd>
		<dd><strong>A Snowball's Chance</strong> Guide a snowball through hell, pickup its denizens to grow larger, try not to melt!
			<ul class="compact-list technologies">
				<li>Source Engine</li>
			</ul>
		</dd>
		<dt class="clear">
    </div>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-5708346-3");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>

</html>
